# dependencies
node_modules/

# Nuxt build outputs
.nuxt/
.output/
.dist/
.vercel/
.netlify/

# env
.env
.env.*.local

# editors / OS
.DS_Store
.idea/
.vscode/

# Windows ADS leftovers
*:Zone.Identifier
